* {
	padding:0px;
	margin:0px;
}

.holder {
	background-color:lightcoral;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	padding:20px;
}
.item {
	width:200px;
	height:200px;
	background-color:pink;
	border:2px solid yellow;
	
}